{emqx_management, true}.
{emqx_recon, true}.
{emqx_retainer, true}.
{emqx_dashboard, true}.
{emqx_rule_engine, {{enable_plugin_emqx_rule_engine}}}.
{emqx_bridge_mqtt, {{enable_plugin_emqx_bridge_mqtt}}}.
{emqx_auth_redis,true}.
{emqx_auth_mysql,true}.
{emqx_proxy_subscribe,true}.
{emqx_auth_http,true}.
